{% extends 'base.html' %}


{% block content %}
<div class="page-wrap">
<div class="container-fluid justify-content-center">
    <div class="row shop-header p-5">
        <div class="col-3 ms-5 d-flex flex-column justify-content-center">
            <h1>Tuning Hub</h1>
            <br>
            <h5>Accelerated Exotic Car Parts Dealer</h5>
            <a href="#" class="btn btn-outline-dark mt-3">Browse Store</a>
        </div>
    </div>
    <div class="row bg-dark p-3 shop-stats">
        <div class="col d-flex justify-content-center">Clothing</div>
        <div class="col d-flex justify-content-center">Contact Us</div>
        <div class="col d-flex justify-content-center">Cars for Sale</div> 
    </div>
</div>
</div>
{% endblock content %}