

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Tuning Hub</title>
</head>

<body>
<style>
.pwrapps {
    background-image: url('/static/images/ferrari!.jpg');
    /* Additional background properties */
    background-size: cover; /* Adjusts the background image size to cover the entire container */
    background-position: center; /* Centers the background image */
    /* Optionally, you can set other background properties such as background-repeat, background-attachment, etc. */
}
</style>


<div class="pwrapss">
    {% extends 'base.html' %}

    {% block content %}
    <div class="container-fluid justify-content-center">
        {% if not current_user.is_authenticated %}
        <div class="row shop-header p-5">
            <div class="col-3 ms-5 d-flex flex-column justify-content-center">
                <h1>Tuning Hub</h1>
                <br>
                <h5>Accelerated Exotic Car Parts Dealer</h5>
                <div class="sign_in_button_update">
                    <a href="/signin" class="btn btn-outline-dark mt-3(s)">Sign In</a>
                </div>
            </div>
            <div class="col-12 text-align">
                <h5>Register or Sign In To Begin Shopping</h5>
            </div>
        </div>
        {% else %}
        <div class="bots">
            <div class="container d-flex justify-content-center">
                <div class="row mt-5 mb-5 justify-content-center">
                    <div class="col-12 text-center mb-3">
                        <a href="{{ url_for('site.create')}}" class="btn btn-outline-dark">Add Product</a>
                    </div>
                    {% for product in shop %}
                    <div class="card d-flex rounded shadow flex-row w-50 p-3 m-3" style="height: 350px;">
                        <div class="col d-flex align-items-center" style="max-width:230px;">
                            <img src="{{ product.image }}" alt="Product Image" class="img-fluid rounded">
                        </div>
                        <div class="card-body d-flex flex-column justify-content-center p-4">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Price: {{ product.price }}</li>
                                <li class="list-group-item">Quantity: {{ product.quantity }}</li>
                                {% if product.quantity <= 10 %} <span class='err-msg btn-danger p-2 opacity-50 rounded'>
                                    Only
                                    a Few Left!</span>
                                    {% endif %}
                            </ul>
                            <div class="mt-2">
                                <div class="update_prod_but">
                                    <a href="{{ url_for('site.update', id=product.prod_id) }}"
                                        class="card-link btn">Update
                                        Product</a>
                                    <!-- <a href="#" class="card-link btn">Delete Product</a> -->
                                    <a href="{{ url_for('site.delete', id=product.prod_id) }}"
                                        class="card-link btn">Delete</a>
                                </div>
                            </div>


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row bg-dark p-3 shop-stats">
                <div class="col d-flex justify-content-center">Clothing</div>
                <div class="col d-flex justify-content-center">Contact Us</div>
                <div class="col d-flex justify-content-center">Cars for Sale</div>
            </div>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
        {% endif %}
    </div>

    {% endblock content %}
</div>